<!--
TEMPLATE-NAME: FOOTER
REQ. SUBS: NONE
USAGE: {{> footer}}
-->
<template name="footer">
   <footer class="footer text-center">
      El TataLink es una herramienta hecha por y para el pueblo Argentino. Compartirla es deber patrio!
      <div class="with-sm-top-margin">
         <a href="https://twitter.com/eltatalink" target="_blank"><i class="fa fa-twitter"></i> @eltatalink</a>
         <a href="https://www.facebook.com/eltatalink" target="_blank"><i class="fa fa-facebook-official"></i> facebook/eltatalink</a>
      </div>
      <!--<div class="fb-like" data-href="/hashtags" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>-->
   </footer>
</template>
