<!--
TEMPLATE-NAME: HOME
REQ. SUBS: NONE
USAGE: {{> home}}
-->
<template name="home">
   <h1 class="text-center tata-link-font" style="font-size: 50px;">TATALINK</h1>
   <h3 class="text-center tata-link-dot">La l&iacute;nea directa con el Tata...</h3>
   <img class="center-block with-top-margin" src="/tata3.jpg" width="231px" style="border: 1px solid #686868;">
   <div class="with-top-margin">
      <button type="button" class="btn btn-primary btn-lg btn-index center-block" id="js-how-it-works">¿Cómo funciona?</button>
      <button type="button" class="btn btn-primary btn-lg btn-index center-block" id="js-votes">Ayudalo al Tata</button>
      <!--<button type="button" class="btn btn-primary btn-lg btn-index center-block" id="js-hashtags">Tagueá</button>-->
      <button type="button" class="btn btn-primary btn-lg btn-index center-block" id="js-comments">Comentá</button>
   </div>
</template>
