<template name="howItWorks">
   <!--{{> header}}-->
   <h2 class="text-center">¿C&oacute;mo funciona?</h2>
   <p class="how-it-works-paragraph">
      Cinco minutos antes de cada partido de la selecci&oacute;n ponemos todos los contadores en cero.
      Cuando ves que la pelotita empieza a rodar, que vamos ganando 2-0, que cada
      contra del rival es medio gol, y que el Tata pone a calentar a Carlitos
      y al Pipita cuando en realidad lo necesitamos son m&aacute;s volantes...
      Ese es el momento de hacer un acto patri&oacute;tico y meterte en el TataLink:
      la primera herramienta especialmente dise&ntilde;ada para ayudarlo al Tata en la toma de decisiones.
   </p>
   <p class="how-it-works-paragraph">
      Desde la secci&oacute;n 'AYUDALO AL TATA' le podes sugerir cambios ('a qui&eacute;n sacar', 'a qui&eacute;n poner')
      mientras ves en tiempo real la opini&oacute;n de los 42 millones de argentinos que estamos siguiendo el partido.
      Al final del encuentro vas a poder elegir la figura del partido.
   </p>
   <p class="text-center">SABELO TATA, NO VAMOS A PARAR HASTA VERTE DIRIGIR TATALINK EN MANO!!!</p>
</template>
